# ──────────────────────────────────────────
# Docker Hub
# ──────────────────────────────────────────
DOCKERHUB_USERNAME=

# ──────────────────────────────────────────
# Kafka (외부 AWS 브로커)
# ──────────────────────────────────────────
KAFKA_BOOTSTRAP_SERVERS=52.78.88.98:9092

# ──────────────────────────────────────────
# Redis
# ──────────────────────────────────────────
REDIS_HOST=
REDIS_PORT=6379

# ──────────────────────────────────────────
# MinIO (user-service 전용)
# ──────────────────────────────────────────
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# ──────────────────────────────────────────
# gateway-service
# ──────────────────────────────────────────
GATEWAY_PORT=8000

# ──────────────────────────────────────────
# creator-service
# ──────────────────────────────────────────
CREATOR_PORT=8080
CREATOR_DB_HOST=
CREATOR_DB_USERNAME=
CREATOR_DB_PASSWORD=

# ──────────────────────────────────────────
# payment-service
# ──────────────────────────────────────────
PAYMENT_PORT=8081
PAYMENT_DB_HOST=
PAYMENT_DB_USERNAME=
PAYMENT_DB_PASSWORD=

# ──────────────────────────────────────────
# settlement-service
# ──────────────────────────────────────────
SETTLEMENT_PORT=8083
SETTLEMENT_DB_HOST=
SETTLEMENT_DB_USERNAME=
SETTLEMENT_DB_PASSWORD=

# ──────────────────────────────────────────
# ticket-service
# ──────────────────────────────────────────
TICKET_PORT=8084
TICKET_DB_HOST=
TICKET_DB_USERNAME=
TICKET_DB_PASSWORD=

# ──────────────────────────────────────────
# user-service
# ──────────────────────────────────────────
USER_PORT=8085
USER_DB_HOST=
USER_DB_USERNAME=
USER_DB_PASSWORD=

# ──────────────────────────────────────────
# reivew-service
# ──────────────────────────────────────────
REVIEW_PORT=8087
REVIEW_DB_HOST=
REVIEW_DB_USERNAME=
REVIEW_DB_PASSWORD=
